{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %}EcoEnergy {% endblock %}</title>
    {% bootstrap_css %}
</head>
<body class="container py-4">
    <nav>
        <a href="{% url 'dispositivos:inicio' %}">Inicio</a>
        <a href="{% url 'dispositivos:catalogo' %}">Dispositivos</a>
        <a href="{% url 'dispositivos:zonas' %}">Zonas</a>
        <a href="{% url 'dispositivos:info' %}">Sobre Nosotros</a>
    </nav>
    <main>{% block content %}{% endblock %}</main>
    {% bootstrap_javascript %}
</body>

</html>